@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
* {
    margin: 120;
    padding: 20;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}


/*導覽列*/

.main-header {
    margin: -10px;
    background-color: #555;
}

.main-header .head1 {
    display: flex;
    align-items: center;
    /*垂直置中*/
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.main-header .main-nav {
    margin: auto;
    display: flex;
}

.main-header .main-nav a {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    padding: 10px 3em;
    position: relative;
    transform: translateY(0px);
}


/*動畫區*/

.container .myhouse {
    width: 100%;
    height: 700px;
    align-items: center;
    vertical-align: bottom;
}

.myhouse a {
    display: inline-block;
    align-items: center;
}


/*作品區*/

.portfolio {
    position: relative;
    margin: 10px;
    border: solid 1px black;
    /*background-color: #aaa;*/
}

.portfolio h2 {
    text-align: center;
    align-items: center;
}

.portfolio .portfolio-imgs {
    display: inline-block;
    padding-left: 20px;
}

.portfolio h6 {
    text-align: right;
}


/*委託區*/

.mission {
    float: left;
    width: 100%;
    position: relative;
    background-color: #ccc;
    border: solid 1px black;
}

.mission h2 {
    text-align: center;
    /* align-items: center;*/
}

.container .mission .mis-imgs {
    align-items: center;
    display: inline-block;
    margin-left: 10px;
}

.mission .mis-imgs h3 {
    text-align: center;
    align-items: center;
}