* {
    /*border: solid 1px black;*/
    position: relative;
    font-family: sans-serif, "微軟正黑體";
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
}

.daybox {
    width: 50%;
    max-width: 400px;
    height: 500px;
    background-color: #FFF;
    border-radius: 5px;
    overflow: hidden;
    transition-duration: 2s;
    cursor: pointer;
}


/*
.daybox .bottom:hover {
    height: 100px;
}

.daybox:hover .dayweather {
    opacity: 1;
}
*/

.top {
    height: 400px;
    background: linear-gradient(20deg, #19283D 0%, #1D678F 95%);
    background-size: 100% 300%;
    border-radius: 5px 5px 0px 0px;
}

@keyframes daylight {
    0% {
        background-position: 100% 30%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.temsvg {
    width: 100%;
}


/*
.temsvg polyline {
    fill: none;
    stroke: white;
    color: #FFF;
    stroke-width: 2px;
    /*線粗細*/


/*
    opacity: 0.05;
    transition: 0.5s 0.2s;
}
*/


/*
.temsvg text {
    fill: none;
    stroke: #FFF;
    opacity: 0;
    transition: 0.5s 0.5s;
    transform: translateX(-8px) translateY(25px);
    font-size: 10px;
}
*/

.temsvg circle {
    fill: #FFF;
}


/*偏移整體文字座標可用*/


/*
text {
    transform: translateX(-10px);
}*/


/*月亮呈現特效*/

.moon {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: absolute;
    top: 160px;
    left: 30px;
    box-shadow: 15px -10px;
    animation: moonmove 5s infinite;
    /*infinite 持續重複動畫*/
}

@-webkit-keyframes moonmove {
    0% {
        transform: translateX(-15px) translateY(15px);
        box-shadow: 15px -15px 0 0 #FFD633;
    }
    100% {
        transform: translateX(30px) translateY(-30px);
        box-shadow: -30px 30px 0 0 #FFD633;
    }
}

@keyframes moonmove {
    0% {
        transform: translateX(-15px) translateY(15px);
        box-shadow: 15px -15px 0 0 #FFD633;
    }
    100% {
        transform: translateX(30px) translateY(-30px);
        box-shadow: -30px 30px 0 0 #FFD633;
    }
}

.rain {
    width: 2px;
    height: 10px;
    position: absolute;
    left: 45px;
    bottom: 15px;
    background-color: #f3f3f3;
    animation: raindo 1s infinite linear;
    /*linear 呈線性的跑*/
}

.rain2 {
    left: 70px;
    bottom: 20px;
    animation-delay: -0.4s;
}

.rain3 {
    left: 25px;
    bottom: 10px;
    animation-delay: -0.7;
}

@keyframes raindo {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(70px);
        opacity: 0;
        /*會消失*/
    }
}


/*簡單雲朵SVG*/

.cloud {
    width: 100px;
    height: 50px;
    size: +60px;
    background-color: #f2f9fe;
    border-radius: 30px;
    position: absolute;
    left: 200px;
    bottom: 50px;
    animation: clouddo 5s infinite linear;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.cloud::before,
.cloud::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 10px;
    background-color: #f2f9fe;
    position: absolute;
    border-radius: 100px;
    /* border: solid 1px black;*/
}

.cloud::after {
    top: -20px;
    left: 38px;
    border-radius: 100px;
}

@keyframes clouddo {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}


/*
svg {
    width: 50px;
    height: 50px;
}*/


/*顯示溫度地區的方框*/

.textarea {
    display: inline-block;
    position: absolute;
    bottom: 50px;
    left: 20px;
    color: honeydew;
    /*針對上層的relative做定位*/
}

.temp {
    font-size: 60px;
    line-height: 60px;
}

.infos {
    font-size: 16px;
    opacity: 0.8;
    /*透明度*/
}

#switch {
    display: none;
}


/*顯示底部Mon - Sun 的每日天氣*/

.bottom {
    height: 100px;
    display: flex;
    /*並排不會有空隙*/
    justify-content: center;
    /*依照flex從中間開始做排序 左右置中*/
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition-duration: 2s;
}

.dayweather {
    width: calc(100% / 7 - 5px);
    text-align: center;
    display: inline-block;
}

.dayweather h3 {
    font-size: 12px;
}

.dayweather svg {
    width: 100%;
    max-width: 30px;
    height: 40px;
}

.dayweather svg .sun {
    fill: #FFD633;
    stroke-width: 30px;
    stroke-dasharray: 5px;
    stroke: rgba(255, 214, 51, 0.5);
    ;
}

.dayweather svg .rain {
    stroke: #4DACFF;
    stroke-width: 5px;
}

.dayweather svg .cloud {
    fill: #ccc;
}